/*
* #221569 // background
* #4a2eca // Primary
* #a83cf0 // Primary accent
* #db3cf0 // Secondary
* #f465ee // Secondary accent
* #b5e6ff // UI
* #84d5fe // UI Accent
* #4ec0e8 // Effect
* #4ea3dc // Highlight
* #3187d4 // Unused
* #314ad4 // Unused
* #3b2799 // Unused
*/

canvas {
	/* border-left: 1px solid; */
	/* border-right: 1px solid; */
	background-color: #221569;
}

html,
body {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 !important;
	padding: 0 !important;
	background-color: #221569;
}
